<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openlab.dao.BlogDao">
  <select id="getAllBlogByUserId" resultMap="com.openlab.dao.CommonDao.BlogBean">
  	select * from blog where user_id = #{1}
  </select>
  <select id="getAllBlog" resultMap="com.openlab.dao.CommonDao.BlogBean">
  	select * from blog
  </select>
  <select id="getBlogByBlogId" parameterType="int" resultMap="com.openlab.dao.CommonDao.BlogBean">
    select * from blog where id = #{1}o.
  </select>
  <select id="getUserByUserId" parameterType="int" resultMap="com.openlab.dao.CommonDao.UserBean">
  	select * from user where id = #{1}
  </select>
  <insert id="addBlog">
  	insert into blog 
  	  (title,type,info,blog_text,user_id,createdate)
  	  values (#{blog.title}, #{blog.type}, #{blog.info}, #{blog.blog_text}, #{user_id}, CURRENT_TIMESTAMP())
  </insert>
  <update id="UpdateBlog">
  	update blog 
  	  set title=#{blog.title}, type=#{blog.type}, info=#{blog.info}, blog_text=#{blog.blog_text}
  	  where id=#{blog.id} AND user_id=#{user_id}
  </update>
  <delete id="delete">
  	delete from blog where id=#{0} AND user_id=#{1}
  </delete>
  <insert id="addMessage" parameterType="MessageBean">
    INSERT INTO blog_message (blog_id, user_id, text, createdate) values
      (#{blogId}, #{userId}, #{text}, CURRENT_TIMESTAMP())
  </insert>
  <update id="deleteMessage" parameterType="int"> <!-- 删除本人文章下或本人发表的留言 -->
  	UPDATE blog_message
  	  SET status=0 
  	  where id=#{id}
  	    and (user_id=#{userId} OR blog_id in (select id from blog where user_id = #{userId}))
  </update>
  <select id="getMessagesByBlogId" resultMap="com.openlab.dao.CommonDao.MessageBean">
  	SELECT * FROM blog_message WHERE blog_id=#{blogId}
  </select>
  
</mapper>